.Header{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
  color: #0F380F;
}

nav{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
}

a{
  background-color: #8CAD0F;
  color: #306230;
  text-decoration: none;
  padding: 5px;
}

a:hover{
  background-color: #306230;
  color: #8CAD0F;
}