<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link class="Styles" rel='stylesheet' href='/stylesheets/old-school.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/vendor/es6-shim/es6-shim.min.js"></script>
    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet"> 
</head>
  <body>
  <div class="Background">
    <div class="DPad">
      <div class="ArrowUp"></div>
      <div class="ArrowRight"></div>
      <div class="ArrowDown"></div>
      <div class="ArrowLeft"></div>
    </div>
    <div class="AButton">
      <p class="NoSelect">A</p>
    </div>
    <div class="BButton">
      <p class="NoSelect">B</p>
    </div>
    <div class="Select">
      <p class="NoSelect">SELECT</p>
    </div>
    <div class="Start">
      <p class="NoSelect">START</p>
    </div>
    <div class="ScreenOutline">
      <p class="NoSelect">Powered By Angular2</p>
      <div class="Power"></div>
    </div>
    <div class="Screen">
      <my-header></my-header>
    </div>
  </div>
<script>
    System.import('app').catch(function(err){ console.error(err);  });
</script>
<script src="js/main.js"></script>
  </body>
</html>
