.Background{
  margin:0 auto;
  background-color:green;
  width:60vw;
  height: 97vh;
  border-radius: 20px 20px 100px 20px;
}

.ScreenOutline{
  position: absolute;
  margin: 0 auto;
  background-color: #444444;
  width: 54%;
  height: 53%;
  top: 3%;
  left: 23%;
  border-radius: 20px;
  border-bottom-right-radius: 80px;
}

.DPad {
  box-shadow: 2px 2px 4px black;
  background: black;
  height: 180px;
  position: absolute;
  width: 60px;
  left: 28%;
  top: 65%;
}
.DPad:after {
  box-shadow: 2px 2px 4px black;
  background: black;
  content: "";
  height: 60px;
  left: -65px;
  position: absolute;
  top: 60px;
  width: 189px;
}

.ArrowUp {
  margin: 15px;
  display: inline;
  position: inherit;
  left: 0px;
  top: 0px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #333333;
}

.ArrowRight {
  margin: 15px;
  display: inline;
  position: inherit;
  z-index: 1;
  left: 65px;
  top: 60px;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #333333;
}

.ArrowDown {
  margin: 15px;
  display: inline;
  position: inherit;
  left: 0px;
  top: 120px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #333333;
}

.ArrowLeft {
  margin: 15px;
  display: inline;
  position: inherit;
  z-index: 1;
  left: -65px;
  top: 60px;
  width: 0; 
  height: 0; 
  border-right: 30px solid #333333;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.AButton{
  box-shadow: 2px 2px 1px black;
  position: absolute;
  top: 66%;
  left: 68%;
  width: 70px;
  height: 70px;
  background: black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.AButton p{
  font-family: "Bungee",cursive;
  text-align: center;
  position: relative;
  bottom: 77px;
  font-size: 50px;
  color: #333333;
}

.BButton{
  box-shadow: 2px 2px 1px black;
  position: absolute;
  top: 72%;
  left: 60%;
  width: 70px;
  height: 70px;
  background: black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.BButton p{
  font-family: "Bungee",cursive;
  text-align: center;
  position: relative;
  bottom: 77px;
  font-size: 50px;
  color: #333333;
}

.Select{
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;
  position: absolute;
  top: 87%;
  left: 43%;
  background-color: black;
  height: 10px;
  width: 70px;
}

.Select p{
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  color: purple;
  text-align: center;
}

.Start{
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;
  position: absolute;
  top: 87%;
  left: 53%;
  background-color: black;
  height: 10px;
  width: 70px;
}

.Start p{
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  color: purple;
  text-align: center;
}