body{
  background-color:black;
}

.ScreenOutline{
  position: absolute;
  margin: 0 auto;
  background-color: gray;
  width: 54%;
  height: 53%;
  top: 3%;
  left: 23%;
  border-radius: 20px;
  border-bottom-right-radius: 80px;
}

.ScreenOutline p{
  font-weight: bold;
  font-size: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  position: relative;
  top: 95%;
  left: 10%;
}

.Screen::-webkit-scrollbar{
  width: 12px;
}

.Screen::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: #306230;
}

.Power{
  box-shadow: 0px 0px 5px red;
  position: relative;
  top: 91%;
  left: 8%;
  width: 5px;
  height: 5px;
  background: darkred;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Screen{
  margin: 0 auto;
  position: absolute;
  border-radius: 20px;
  top: 5%;
  left: 25%;
  width: 46%;
  height: 44%;
  padding: 20px;
  background-color: #9CBD0F;
  overflow: auto;
}

.Loading{
  position: relative;
  top: 5vh;
  font-family: 'Press Start 2p',cursive;
  font-size: 50px;
  text-align: center;
  color: #0F380F;
  -webkit-animation: load 5s linear;
}

@-webkit-keyframes load {
  from {top:-30vh;}
  to {top:5vh;}
}

.Projects{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
  color: #0F380F;
}

hr{
  margin-bottom: 20px;
  border: 1px solid #306230;
}

a{
  background-color: #8CAD0F;
  color: #306230;
  text-decoration: none;
  padding: 5px;
}

a:hover{
  background-color: #306230;
  color: #8CAD0F;
}

.Profile{
  font-family: 'Press Start 2p',cursive;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 65%;
  margin: 0 auto;
  text-align: justify;
  text-justify: kashida;
  color: #0F380F;
  padding: 5px;
}

.Header{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
  color: #0F380F;
}

nav{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
}

.NoSelect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}