/*Everything element fits inside the screen*/
body{
  background-color: lightgray;
}

.ScreenOutline{
  position: absolute;
  margin: 0 auto;
  background-color: gray;
  width: 54%;
  height: 53%;
  top: 3%;
  left: 23%;
  border-radius: 20px;
  border-bottom-right-radius: 80px;
}

.Screen{
  margin: 0 auto;
  position: absolute;
  border-radius: 20px;
  top: 5%;
  left: 25%;
  width: 46%;
  height: 44%;
  padding: 20px;
  background-color: #9CBD0F;
  overflow: auto;
}

.DPad {
  background: black;
  height: 180px;
  position: absolute;
  width: 60px;
  left: 28%;
  top: 65%;
}
.DPad:after {
  background: black;
  content: "";
  height: 60px;
  left: -65px;
  position: absolute;
  top: 60px;
  width: 189px;
}

.AButton{
  position: absolute;
  top: 65%;
  left: 68%;
  width: 85px;
  height: 85px;
  background: darkred;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.BButton{
  position: absolute;
  top: 75%;
  left: 62%;
  width: 85px;
  height: 85px;
  background: darkred;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Projects{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
  color: #0F380F;
}

hr{
  margin-bottom: 20px;
  border: 1px solid #306230;
}

a{
  background-color: #8CAD0F;
  color: #306230;
  text-decoration: none;
  padding: 5px;
}

a:hover{
  background-color: #306230;
  color: #8CAD0F;
}

.Profile{
  font-family: 'Press Start 2p',cursive;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 65%;
  margin: 0 auto;
  text-align: justify;
  text-justify: kashida;
  color: #0F380F;
  padding: 5px;
}

.Header{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
  color: #0F380F;
}

nav{
  font-family: 'Press Start 2p',cursive;
  text-align: center;
}